body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;

}

::-webkit-scrollbar { 
    display: none; 
}
::-moz-scrollbar { 
    display: none; 
}
::-o-scrollbar { 
    display: none; 
}


.section {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #c1ae7d;
}

#title_img {
	position: absolute;
	display: block;
	left: 50%;
	top: 10%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	width: 80%;
	z-index: 100;
}

#gameOver_img {
	position: relative;
	display: block;
	margin: auto;
	top: 5%;
	width: 90%;
	z-index: 100;
}


.button {
	font-family: 'Bungee', cursive;
	color: #c11313;
	font-size: 48px;
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 70%;
    transform: translateX(-50%);
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 100;
}

#score_display {
	font-family: 'Bungee', cursive;
	color: #6d3617;
	font-size: 132px;
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 40%;
    transform: translateX(-50%);
    z-index: 100;
}

#curr_score {
	font-family: 'Bungee', cursive;
	color: white;
	font-size: 48px;
	position: absolute;
	display: inline-block;
    z-index: 100;
    left: 30px;
}


.button:hover {
	letter-spacing: 4px;
	color: red;
	cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#game_section {
	background-color: #685830;
	overflow: hidden;
	cursor:url('asset/img/cursor.gif'), auto;
}

#title_section {
	background-color: #685830;
	overflow: hidden;
}

.cave_block {
	background-color: #c1ae7d;
	position: absolute;
	width: 500px;
	height: 200px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 50;
}

.cave_wall {
	background-color: #685830;
	width: 100%;
	height: 100%;
	position: absolute;
}

#title_cb {
	top: 64.9%;
	height: 37%;
	z-index: 75;
}
#title_cavewall {
	background-color: #685830;
	position: absolute;
	display: block;
	height: 400px;
	width: 100%
	z-index: 74;
}
.sky {
	position: relative;
	display: block;
	height: 22%;
	width: 100%
	z-index: 100;
	top: -7px;
}
#sky1 {
	background-color: #0fe7ff;
}
#sky2 {
	background-color: #59eeff;
}
#sky3 {
	background-color: #89f2ff;
}
#sky4 {
	height: 4.6%;
	background-color: #00a015;
}
#cb1 {
	margin-top: 0px;
}
#cb2 {
	margin-top: 200px;
}
#cb3 {
	margin-top: 400px;
}
#cb4 {
	margin-top: 600px;
}
#cb5 {
	margin-top: 800px;
}
#cb6 {
	margin-top: 1000px;
}
#cb7 {
	margin-top: 1200px;
}
#cb8 {
	margin-top: 1400px;
}
#cb9 {
	margin-top: 1600px;
}
